@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply transition-colors duration-300;
    }

}


@keyframes skillTrans {
    from {
        transform: translateX(-100%);
    }
}



.show-menu {
    @apply bottom-0 !important;
}

.button {
    @apply inline-block;
    @apply bg-blue-500;
    @apply text-white;
    @apply border-0;
    @apply border-opacity-0;
    @apply rounded-lg;
    @apply py-4;
    @apply px-8;
    @apply font-semibold;
}

.button--flex {
    @apply inline-flex;
    @apply items-center;
}

.active-link {
    @apply !text-blue-400 ;
}

.scroll-header {
    @apply shadow-2xl shadow-black;
}

/* ================ HOMES ===================== */
.home__container {
    @apply gap-4;
}

.home__content {
    grid-template-columns: 1fr 3fr;
    @apply pt-14;
    @apply items-center;
    @apply gap-y-4;
}

.home__social {
    @apply grid;
    grid-template-columns: max-content;
    @apply gap-y-4;
}

.home__social-icon {
    @apply text-xl;
    @apply text-blue-400;
}

.home__blob {
    @apply w-60;
    @apply fill-blue-400;
}

.home__blob-img {
    @apply w-44;
}

.home__data {
    @apply col-start-1;
    @apply col-end-3;
}

.home__title {
    @apply text-4xl;
    @apply font-semibold;
    @apply mb-2;
}

.home__subtitle {
    @apply text-xl;
    @apply text-gray-400;
    @apply font-semibold;
    @apply mb-3;
}

.home__description {
    @apply mb-8;
}

.home__scroll {
    @apply hidden;
}

.home__scroll-button {
    @apply text-blue-400;
    @apply transition;
}

.home__scroll-button:hover {
    @apply translate-y-1;
}

.home__scroll-mouse {
    @apply text-4xl;
}

.home__scroll-name {
    @apply text-base;
    @apply text-blue-400;
    @apply font-medium;
    @apply mr-1;
}

.home__scroll-arrow {
    @apply text-2xl;
}

/*================ PROJECTS =====================*/

.skill__list {
    @apply transition-all;
}

.skills__close .skill__list {
    @apply h-0 overflow-hidden;
}

.skills__open .skill__list {
    @apply h-max;
}

.skills__open .skill__arrow:before {
    @apply rotate-180;
}

.skill-bar {
    animation: skillTrans 3s forwards;
}




/*================ PROJECTS =====================*/

.featured__project {
    @apply relative;
    @apply grid;
    @apply gap-3;
    @apply grid-cols-12;
    @apply items-center;
    @apply mb-24;
}

.featured__project .project-content {
    @apply relative;
    @apply row-span-full;
    @apply col-span-full;
    @apply text-left;
    @apply z-20;
    @apply p-4;
}

.featured__project .project-content .project-overline {
    @apply text-sm;
    @apply font-semibold;
    @apply my-2;
    @apply text-blue-400;
}

.featured__project .project-content .project-title {
    @apply text-2xl;
    @apply font-bold;
    @apply mb-2;
    @apply text-blue-500;
}

.featured__project .project-description {
    
}


.featured__project .project-tech-list {
    @apply flex;
    @apply flex-wrap;
    @apply relative;
    @apply my-4;
    @apply p-0;
    @apply list-none;
}

.featured__project .project-tech-list li {
    @apply ml-0;
    @apply mr-2;

}




.featured__project .project-image {
    @apply shadow-sm;
    @apply transition-all;
    /* grid-area: 1 / 6 / -1 / -1; */
    @apply row-span-full;
    @apply col-span-full;
    @apply relative;
    @apply z-10;
    @apply h-full;
    @apply opacity-25;
    @apply bg-gray-500;
}

.featured__project .project-image img {
    @apply rounded-sm;
    @apply mix-blend-multiply;
    @apply filter;
    @apply transition-opacity;
    /* border-radius: var(--border-radius);
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1) brightness(90%);
    transition: opacity 500ms linear 0s; */
}



@screen md {
    .featured__project .project-content {
        grid-column: 1 / 7;
        @apply text-left;
        @apply p-0;
    }

    .featured__project:nth-of-type(2n+1) .project-content {
        grid-column: 7 / -1;
        @apply text-right;
    }

    .featured__project .project-image {
        grid-area: 1 / 6 / -1 / -1;
        @apply opacity-100;
    }

    .featured__project .project-image img {
        @apply h-full;
    }

    .featured__project .project-image:hover, .featured__project .project-image:focus {
        @apply bg-transparent;
        @apply outline-none;
    }


    .featured__project .project-description {
        @apply shadow-lg;
        @apply transition-all;
        @apply relative;
        @apply z-20;
        @apply p-6;
        @apply rounded-sm;
        @apply dark:bg-gray-800;
        @apply text-white;
        @apply bg-blue-500;
    }

    .featured__project:nth-of-type(2n+1) .project-image {
        grid-column: 1 / 8;
    }

    
    .featured__project:nth-of-type(2n+1) .project-tech-list {
        @apply justify-end;
    }

    .featured__project:nth-of-type(2n+1) .project-tech-list li {
        @apply mb-1;
        @apply ml-5;
        @apply mr-0;
    }

    .featured__project .project-tech-list li {
        @apply mb-1;
        @apply mr-5;
    }
    
}


/*================ CONTACT ME =====================*/
.contact__content {
    @apply bg-gray-700;
    @apply border-4;
    @apply rounded-lg;
    @apply border-transparent;
    @apply p-3;
}

.contact__input {
    @apply w-full;
    @apply bg-gray-700;
    @apply text-gray-50;
    @apply border-none;
    @apply outline-none;
    @apply p-3;
}

.contact__label {
    @apply text-white;
}

@media (max-width: 767px) {
    .nav__menu {
        @apply fixed;
        @apply left-0;
        @apply w-full;
        @apply px-6;
        @apply py-8;
        @apply text-gray-700;
        @apply transition-all;
        @apply duration-300;
        @apply bg-white;
        @apply border-t-2;
        @apply shadow-lg;
        @apply -bottom-full;
        @apply rounded-t-3xl;
    }
}

.swiper {
    width: 600px;
    height: 300px;
}

@screen sm {
    .home__content {
        grid-template-columns: max-content 1fr 1fr;
        @apply pt-20;
        @apply gap-x-8;
    }

    .home__data {
        grid-column: initial;
    }

    .home__img {
        order: 1;
        justify-self: center;
    }



}

@screen md {
    .home__blob {
        @apply w-72;
    }

    .home__scroll {
        @apply block;
    }

    .home__scroll-button {
        @apply ml-12;
    }

    .home__container {
        @apply gap-y-20;
    }
}


